header {
  background-color: $primary-color;

  .topbar {
    display: flex;
    justify-content: space-between;
    padding: 50px 50px 30px;

    .logo {
      font-family: $font-two;
      font-size: 50px;
      font-weight: 800;
      text-transform: uppercase;
      color: $third-color;
    }
  }

  .contact {
    display: flex;

    .text {
      text-align: right;
      font-size: 15px;
      text-transform: uppercase;
      font-weight: 600;

      .phone {
        font-size: 30px;
      }
    }

    .icon {
      font-size: 40px;
      margin-left: 8px;

    }


  }

  .menu {
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;

    li:not(:first-child) {
      margin-left: 50px;
    }

    li:hover a::before {
      width: 80%;
    }

    a {
      display: inline-block;
      text-transform: uppercase;
      font-size: 15px;
      color: $third-color;
      font-weight: 600;
      padding: 10px;
      position: relative;

      &::before {
        content: "";
        width: 0;
        height: 2px;
        background-color: $third-color;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        transition: all .25s ease;
      }
    }
  }

  .hero {
    padding: 50px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .hero-title {
      text-transform: uppercase;
      text-align: center;

      .tt1 {
        font-size: 35px;
        font-weight: 700;
        font-family: $font-three;
      }

      .tt2 {
        padding: 20px 0;
        font-size: 70px;
        font-family: $font-two;
      }

      .tt3 {
        font-size: 20px;
        font-weight: 700;
        display: inline-block;
        border-bottom: 1px solid $four-color;
        padding-bottom: 50px;
        margin-bottom: 50px;
      }

      .hero-content {
        .text {
          display: flex;
          justify-content: center;
          align-items: center;
          font-family: $font-two;

          p {
            font-size: 20px;
          }
        }

        .hero-btn {
          display: inline-block;
          color: $third-color;
          font-size: 15px;
          font-weight: 700;
          margin-top: 20px;
          padding: 10px 25px;
          border: 1.5px solid $four-color;
          transition: all .25s ease;

          &:hover {
            background-color: $secondary-color;
          }
        }
      }
    }

    .hero-imgs {
      width: 500px;
      height: 500px;
      border-radius: 50%;
      overflow: hidden;
      box-shadow: 0 0 10px 1px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .hero {
    flex-direction: column;
  }

  .hero-btn {
    margin-bottom: 50px;
  }

  .tt3 {
    margin-bottom: 20px !important;
    padding-bottom: 20px !important;
  }

}

@media screen and (max-width: 768px) {
  .menu {
    justify-content: center !important;
    padding-right: 0 !important;
  }
}

@media screen and (min-width:319px) and (max-width: 415px) {
  .topbar {
    padding: 20px !important;
  }

  .logo {
    font-size: 20px !important;
  }

  .text {
    font-size: 12px !important;
  }

  .phone {
    font-size: 15px !important;
  }

  .icon {
    font-size: 25px !important;
  }
  .menu {
    flex-wrap: wrap;
    background-color: $secondary-color;
  }
  .menu li {
    padding: 10px 0;
    justify-content: center !important;
  }
  .menu li a{
    font-size: 13px;
  }
  .menu li:not(:first-child) {
    margin-left: 0 !important;
}
  .tt1 {
    font-size: 18px !important;
  }

  .tt2 {
    font-size: 50px !important;
  }

  .tt3 {
    font-size: 14px !important;
  }

  .hero {
    padding: 20px 50px !important;
  }
  .hero-btn {
    margin-bottom: 30px;
  }
  .hero-imgs{
    width: 200px !important;
    height: 200px !important;
  }
}