.info-table {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;

  input {
    display: block;
    padding: 10px 20px;
    width: 300px;
    margin-bottom: 15px;
    outline: none;
    border: 1px solid rgba($color: #000000, $alpha: 0.2);
  }

  .info-l {
    input:last-child {
      background-color: $primary-color;
      text-transform: uppercase;
      font-weight: 700;
      border: none;
      transition:  all .25s ease;
      &:hover {
        opacity: 0.8;
      }
    }
  }
}
@media screen and (min-width: 320px) and (max-width: 415px) {
  .info-table {
    flex-direction: column;
    align-items: center;
  }
}